<a href="https://colab.research.google.com/github/Adityasaharan04/Data-Mining/blob/main/DM_LAB_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, Binarizer, LabelEncoder

In [2]:
# Creating a sample dataset
data = {
    "Name": ["Aditya", "Abhinay", "Pulkit", "Mohit", "Vikram"],
    "City": ["Rohtak", "Hisar", "Bhiwani", "Sonipat", "Jind"],
    "Age": [21, 24, 22, 25, 23],
    "Income": [25000, 55000, 32000, 75000, 48000],
    "Purchase_Frequency": [3, 8, 5, 12, 7]
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)

Original Dataset:
       Name     City  Age  Income  Purchase_Frequency
0   Aditya   Rohtak   21   25000                   3
1  Abhinay    Hisar   24   55000                   8
2   Pulkit  Bhiwani   22   32000                   5
3    Mohit  Sonipat   25   75000                  12
4   Vikram     Jind   23   48000                   7

In [3]:
scaler = MinMaxScaler()
df_scaled = df.copy()
df_scaled[['Age', 'Income', 'Purchase_Frequency']] = scaler.fit_transform(df[['Age', 'Income', 'Purchase_Frequency']])
print("\nMin-Max Scaled Data:\n", df_scaled)

Min-Max Scaled Data:
       Name     City   Age  Income  Purchase_Frequency
0   Aditya   Rohtak  0.00    0.00            0.000000
1  Abhinay    Hisar  0.75    0.60            0.555556
2   Pulkit  Bhiwani  0.25    0.14            0.222222
3    Mohit  Sonipat  1.00    1.00            1.000000
4   Vikram     Jind  0.50    0.46            0.444444

In [4]:
from sklearn.preprocessing import normalize
df_normalized = df.copy()
df_normalized[['Age', 'Income', 'Purchase_Frequency']] = normalize(df[['Age', 'Income', 'Purchase_Frequency']])
print("\nNormalized Data:\n", df_normalized)

Normalized Data:
       Name     City       Age  Income  Purchase_Frequency
0   Aditya   Rohtak  0.000840     1.0            0.000120
1  Abhinay    Hisar  0.000436     1.0            0.000145
2   Pulkit  Bhiwani  0.000687     1.0            0.000156
3    Mohit  Sonipat  0.000333     1.0            0.000160
4   Vikram     Jind  0.000479     1.0            0.000146

In [5]:
binarizer = Binarizer(threshold=40000)
df_binarized = df.copy()
df_binarized['Income'] = binarizer.fit_transform(df[['Income']])
print("\nBinarized Data (Income > 40000 marked as 1):\n", df_binarized)

Binarized Data (Income > 40000 marked as 1):
       Name     City  Age  Income  Purchase_Frequency
0   Aditya   Rohtak   21       0                   3
1  Abhinay    Hisar   24       1                   8
2   Pulkit  Bhiwani   22       0                   5
3    Mohit  Sonipat   25       1                  12
4   Vikram     Jind   23       1                   7

In [6]:
scaler = StandardScaler()
df_standardized = df.copy()
df_standardized[['Age', 'Income', 'Purchase_Frequency']] = scaler.fit_transform(df[['Age', 'Income', 'Purchase_Frequency']])
print("\nStandardized Data:\n", df_standardized)

Standardized Data:
       Name     City       Age    Income  Purchase_Frequency
0   Aditya   Rohtak -1.414214 -1.246304           -1.318761
1  Abhinay    Hisar  0.707107  0.453201            0.329690
2   Pulkit  Bhiwani -0.707107 -0.849753           -0.659380
3    Mohit  Sonipat  1.414214  1.586205            1.648451
4   Vikram     Jind  0.000000  0.056650            0.000000

In [7]:
encoder = LabelEncoder()
df_labeled = df.copy()
df_labeled['City'] = encoder.fit_transform(df['City'])
print("\nLabeled Data (Cities encoded numerically):\n", df_labeled)

Labeled Data (Cities encoded numerically):
       Name  City  Age  Income  Purchase_Frequency
0   Aditya     3   21   25000                   3
1  Abhinay     1   24   55000                   8
2   Pulkit     0   22   32000                   5
3    Mohit     4   25   75000                  12
4   Vikram     2   23   48000                   7